/* Main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--tran-02);
}

:root {
    --body-color: #F2F2F2;
    --primary-color: #6155E1;
    --btn-color: #FFFFFF26;
    --btn-hover-color: #FFFFFF40;
    --btn-active-color: #FFFFFF73;
    --secondary-color: #E93460;
    --primary-text: #FFFFFF;
    --secondary-text: #000000;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color) !important;
    padding: 20px;
}

.container#blur.active {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.container .content {
    position: relative;
    max-width: 800px;
}

.container .content img {
    max-width: 100%;
    display: block;
}

h2 {
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    color: var(--secondary-text);
    margin-bottom: 16px;
}

p {
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    color: var(--secondary-text);
}

/* ****** */

/* GLOBAL */
.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
    max-width: 640px;
    max-height: 700px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    background-color: var(--primary-text);
    visibility: hidden;
    opacity: 0;
    border-radius: 13px;
}

a {
    position: relative;
    padding: 8px 24px;
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-text);
    border-radius: 8px;
    text-align: center;
}

a.cancel {
    position: relative;
    padding: 8px 12px;
    font-size: 23px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    background-color: transparent;
    color: var(--secondary-text);
    border-radius: 8px;
    margin-right: 8px;
}

.popup.active {
    visibility: visible;
    opacity: 1;
    top: 50%;
}

.popup-header {
    padding: 32px;
    border-radius: 13px 13px 0 0;
    background-color: var(--primary-text);
}

/* MODAL EXIT */

.popup-body {
    padding: 32px;
}

.popup-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    border-radius: 0 0 13px 13px;
    background-color: #EFEFEF;
}

/* MODAL IMAGEN PEQUEÑA */

.popup-body-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.popup-body-img-text {
    max-height: 400px;
}

img.popup-body-img {
    height: 64px;
    margin: 0 32px;
}

/* MODAL IMAGEN MEDIANA */

.popup-body-img-medium {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.popup-body-img-medium-img {
    width: 160px;
}


/* MODAL VIDEO */

.popup-video {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 768px;
    max-width: 768px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    background-color: var(--primary-text);
    visibility: hidden;
    opacity: 0;
    border-radius: 13px;
}

.popup-body-video {
    display: flex;
    flex-direction: column;
}

p.popup-body-video-text {
    margin-bottom: 32px;
}

/* RESPONSIVE */

@media all and (orientation:landscape) and (max-height: 619px) {
    .popup {
        max-height: 350px;
        overflow-y: scroll;
    }
}

@media (max-width: 480px) {
    .popup {
        max-width: 350px;

    }

    img.popup-body-img {
        margin: 0;
    }
    
    .popup-body-img-medium {
        flex-flow: column-reverse;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .popup {
        width: 470px;
    }
}